name: dgos CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: banner
      run: printf "Building with %d processors\n" "$(nproc)"
      shell: bash

    - name: build cpu
      run: "grep -oP '(?<=model name\t: ).*' /proc/cpuinfo|head -n1"
      shell: bash

    - uses: actions/checkout@v2
    
    - name: dependencies
      run: sudo apt-get update && sudo apt-get install lemon mtools genisoimage qemu-system-x86 cpu-checker

    - name: Cache
      uses: actions/cache@v2.1.1
      id: cache
      with:
        # A list of files, directories, and wildcard patterns to cache and restore
        path: ./cibuild/toolchain_install
        # An explicit key for restoring and saving the cache
        key: toolchain-${{ hashFiles('toolchain/**', 'bootstrap') }}-${{ runner.os }}
        # An ordered list of keys to use for restoring the cache if no cache hit occurred for key
        #restore-keys: # optional

    - name: toolchain and/or bootstrap
      run: mkdir -p cibuild && cd cibuild && ../bootstrap
      # bootstrap runs whether or not we got cached toolchain - it skips as necessary

    - name: disks
      run: export PATH="$PWD/cibuild/toolchain_install/bin:$PATH" && cd cibuild && make disks -j$(nproc))

    - uses: actions/upload-artifact@v2
      with:
        name: toolchain
        path: cibuild/toolchain_install

    #- uses: actions/upload-artifact@v2
    #  with:
    #    name: mbr-disk-image
    #    path: cibuild/mbrdisk.img

    - uses: actions/upload-artifact@v2
      with:
        name: hybrid-disk-image
        path: cibuild/hybdisk.img

    #- uses: actions/upload-artifact@v2
    #  with:
    #    name: gpt-disk-image
    #    path: cibuild/gptdisk.img

    - uses: actions/upload-artifact@v2
      with:
        name: iso-disk-image
        path: cibuild/isodisk.iso
